## Minecraft root folders to ignore
/local/
/saves/
/data/
# Do not unignore mods jars, add to pakku overrides
/mods/
/logs/
/crash-reports/
/backups/
/resourcepacks/
/server-resource-packs/
/screenshots/
/downloads/
/modernfix/
/fancymenu_data/
/ESM/
/xaero/
/.fabric/
/.mixin.out/
/XaeroWaypoints*
/shaderpacks
/debug
/asm

## Minecraft root specific files to ignore
/patchouli_data.json
/ds_private_storage.json
/cherishedworlds-favorites.dat
/icon.png
/options.txt
/rhino.local.properties
/usercache.json
/usernamecache.json
/emi.json
/.env
/servers.dat
/servers.dat_old
/hs_err*
/command_history.txt

## Ignored Configs
# Preset configs to be shipped with the modpack should be placed into yosbr
/config/*
!/config/yosbr/**

### Mostly stuff that shouldn't be tweaked below here

## Pakku
/build/
/.pakku/shelf
/!.pakku/
/!pakku.jar
/!pakku.json
/!pakku-lock.json

## Node.js
/**/node_modules/

## VSCode
!/.vscode/*.code-workspace
/.vscode/*

## Linux
*~
/.fuse_hidden*
/.directory
/.Trash-*

## Windows
/Thumbs.db
/ehthumbs.db
/Desktop.ini
/$RECYCLE.BIN/
/*.lnk

## macOS
/.DS_Store
/.AppleDouble
/.LSOverride
